.title {
    font: 200;
    text-align: center
}
.subtitle {
    font-style: italic;
    text-align: center
}
.statusmsg {
    background-color: #4c1c7e;
    font-weight: 600;
    font-style: italic;
    padding: 10px 15px;

    width: 100%;
    box-sizing:border-box;
}
body{
    padding: 0;
    background-color: #272727; 
    color: #ffffff; 
    font-family:'Courier New', Courier, monospace;
}
.menuButtons{
margin-left:auto; 
margin-right:auto;
padding-top: 15;
}
button{
color:#eaeaea;
background-color: #5f5f5f;
accent-color: #ff00dd;

}
body {
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh; /* Ensure the body takes up the entire viewport height */
}

.console-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px; /* Set desired height */
    background-color: rgba(0,0,0,0.8);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    color: white;
    overflow-y: auto; /* Enable scrolling if content exceeds height */
    padding: 10px;
    box-sizing: border-box;
    font-family: monospace;
    display: none; /* Initially hidden */
    z-index: 1; /* Ensure the console window is behind the button */
    border-top: 5px solid silver;
}

.console-container.show {
    display: block; /* Show when toggled */
}

.console-container p {
    margin: 0;
    white-space: pre-wrap;
}

.console-container .warn {
    color: yellow;
}

.console-container .error {
    color: red;
}

.toggle-console-btn {
    position: fixed;
    bottom: 10px; /* Initially set to bottom of the screen */
    left: 10px;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    z-index: 2; /* Ensure the button is on top of the console window */
}


